<%= form_for(@pizza, html: { role: "form" }) do |f| %>
  <% if @pizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
      <% @pizza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :doe_kind %><br>
    <%= f.text_field :doe_kind %>
  </div>
  <div class="field">
    <input type="checkbox" name="toppings[]" value="Pepperoni" id="Pepperoni" />
    <label for="Pepperoni">Pepperoni</label><br>
    <input type="checkbox" name="toppings[]" value="Onions" id="Onions" />
    <label for="Onions">Onions</label><br>
    <input type="checkbox" name="toppings[]" value="Peppers" id="Peppers" />
    <label for="Peppers">Peppers</label><br>
    <input type="checkbox" name="toppings[]" value="Olives" id="Olives" />
    <label for="Olives">Olives</label><br>
    <input type="checkbox" name="toppings[]" value="Anchovy" id="Anchovy" />
    <label for="Anchovy">Anchovy</label>
  </div>
  <div class='row' id='image-row'>
    <%= f.fields_for :pizza_pics do |builder| %>
      <% unless builder.object.new_record? %>
        <div class='col-sm-3 pizza-image' style="height: 380px; margin-bottom: 30px;">
          <%= builder.file_field :image, class: "file file-" + builder.object.pic_num.to_s, style: "margin-bottom: 20px;" %>
          <div class="<%= 'image-preview image-preview-' + builder.object.pic_num.to_s %>">
            <%= image_tag builder.object.image, style: "max-width: 100%; max-height: 100%;" %>  
          </div>
          <div class='button-wrap'>
            <input type='button' class='destroy-image btn btn-danger btn-xs' value='Delete Picture' data-pic-id="<%= builder.object.id %>">
          </div>
          <%= builder.hidden_field :pic_num, value: builder.object.pic_num, class: 'pic-num' %>  
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='row'>
    <%= f.fields_for :pizza_pics do |builder| %>
      <% if builder.object.new_record? %>
        <div class='col-sm-3 new-image-uploader' style="height: 350px; margin-bottom: 30px;">
          <%= builder.file_field :image, class: "file file-" + @pizza.pizza_pics.length.to_s, style: "margin-bottom: 20px;" %>
          <div class="<%= 'image-preview image-preview-' + @pizza.pizza_pics.length.to_s %>">
            <img / style='max-width: 100%; max-height: 100%'>  
          </div>  
          <%= builder.hidden_field :pic_num, value: @pizza.pizza_pics.length, class: 'pic_num', disabled: true %>  
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-xs' %>
  </div>
<% end %>
