<%= form_for(@pizza, html: { role: "form" }) do |f| %>
  <% if @pizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
      <% @pizza.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :doe_kind %><br>
    <%= f.text_field :doe_kind %>
  </div>
  <div class="field">
    <input type="checkbox" name="toppings[]" value="Pepperoni" id="Pepperoni" />
    <label for="Pepperoni">Pepperoni</label><br>
    <input type="checkbox" name="toppings[]" value="Onions" id="Onions" />
    <label for="Onions">Onions</label><br>
    <input type="checkbox" name="toppings[]" value="Peppers" id="Peppers" />
    <label for="Peppers">Peppers</label><br>
    <input type="checkbox" name="toppings[]" value="Olives" id="Olives" />
    <label for="Olives">Olives</label><br>
    <input type="checkbox" name="toppings[]" value="Anchovy" id="Anchovy" />
    <label for="Anchovy">Anchovy</label>
  </div>
  <div class='row'>
    <% i = 1 %>
    <%= f.fields_for :pizza_pics do |builder| %>
      <div class='col-sm-3' style="height: 350px; margin-bottom: 30px;">
        <%= builder.file_field :image, class: "file file-" + i.to_s, style: "margin-bottom: 20px;" %>
        <div class="<%= 'image-preview image-preview-' + i.to_s %>">
          <% if @pizza.pizza_pics[i - 1] %>
            <%= image_tag @pizza.pizza_pics[i - 1].image, style: "max-width: 300px; max-height: 300px;" %>
          <% else %>
            <%= "<img / style='max-width: 300px; max-height: 300px;'>" %>
          <% end %>
        </div>
      </div>
      <%= builder.hidden_field :pic_num, value: i %>
      <% i += 1 %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
