<h1>
  <%= @pizza.name %>
</h1>

<p>
  <strong>Doe kind:</strong>
  <%= @pizza.doe_kind %>
</p>

<p>
  <strong>Toppings:</strong>
  <%= @pizza.toppings %>
</p>

<p>
  <strong>pictures:</strong>
  <div class='row'>
  	<% @pizza.pizza_pics.each do |pic| %>
  		<div class='pizza-picture col-sm-3'>
  			<p><%= image_tag pic.image_url %></p>
  		</div>
  	<% end %>
  </div>
</p>

<%= link_to 'Edit Pizza', edit_pizza_path(@pizza), class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Back to Main Menu', pizzas_path, class: 'btn btn-default btn-xs' %> |
<%= link_to 'Remove Pizza', @pizza, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
