<!DOCTYPE html>
<html>
<head>
  <title>Kawabanga Pizza!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'shared/navbar' %>
    <div id="main-container" class="container-fluid">
      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8" id="content-container">
          <%= yield %>
        </div>
        <div class="col-xs-2">
        </div>
      </div>
    </div>
    <div class="bottom-filler">
    </div>
  </body>
</html>
